#list{
       color: #555;
  }

.contacts{
    background: lightcyan;
  
  }
  #kvv{
      color: darkblue;
      text-align: center;
}
img{
    width: 200px;
    border-radius: 20%;
}
#tech{
    background: lightsalmon;
}
.iconka{
    width: 16px;
}